*{
margin:0;
padding:0;

}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf');
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('../fonts/Raleway-ExtraBold.ttf');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.ttf');
}
body{
 font-family: 'HelveticaLTStd-Light', Helvetica, sans-serif;
}
img{
border:0;
}
p{
margin-top:10px;
}
.header{
background-color: rgba(0, 0, 0, 0.64);
height:110px;
}
.header_sect{
  height: 790px;
  background-image: url(../images/hedfon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_center{
margin:0 auto;
max-width:1160px;
width:100%;
}
.h1{
margin-bottom: 40px;
margin-top:90px;
font-family: Raleway-Black;
   font-size: 55px;
   color:#fff;
}
.logo {
max-width: 320px;
  width: 100%;
  float: left;
  margin-top: 12px;
  margin-bottom: 11px;
}
.logo span{
color:#fff;
  padding-left: 15px;
}
.logo img{
float: left;
  width: 23%;
}
.kontakt{
float:right;
max-width:300px;
width:100%;
margin-top: 14px;
}


.cvcv{
background-color: #222222;padding-top: 50px;clear: both;
  height: 440px;
}
.kontakt a div{
  width: 23px;
  height: 23px;
  margin-left: 10px;
  float: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.set_1{
background-image: url(../images/seti.png);
 background-position: 0px 0px;
}
.set_2{
background-image: url(../images/seti.png);
  background-position: -69px 0px;
}
.set_3{
background-image: url(../images/seti.png);
  background-position: -34px 0px;
}
.set_4{
background-image: url(../images/seti.png);
  background-position: -103px 0px;
}
.s_1{
  font-family: Raleway-Bold;
  font-size: 20px;
    padding-top: 10px;
  display: inline-block;
}
.s_2{
 font-family: HelveticaNeue;
   font-size: 12px;
}
.ss_1{
font-family: HelveticaNeue;
   font-size: 18px;
   color:#fff;
}
.ss_2{
font-family: HelveticaNeue;
   font-size: 18px;
   color:#FFCB05;
}
.tel{
clear: both;
  text-align: right;
  margin-top: 33px;
}
.top_menu_ul{
background-color:#fff;
height:55px;
  border-bottom: 5px solid #000;
  clear: both;
    padding-left: 30px;
}
.activ{
  border-bottom: 5px solid #FFCB05;
}
.top_menu_li{
display: inline-block;
  text-decoration: none;
  padding: 18px 13px 18px;
  height: 19px;
}
.top_menu_li a{
color:#000;
  font-family: Raleway-Bold;
  font-size: 16px;
}
a{
text-decoration:none;
}
.cherepica1{
  float: left;
  background-image: url(../images/ce1.png);
}
.cherepica2{
  float: right;
  background-image: url(../images/ce2.png);
}
.cherepica3{
margin:0 auto;
  background-image: url(../images/ce3.png);
}
.cherepica1,.cherepica2,.cherepica3{
  width: 33%;
  height: 165px;
  background-color: rgba(0, 0, 0, 0.75);
  background-position: 9% center;
  background-size: 26%;
  background-repeat: no-repeat;
  padding-left: 12%;
  box-sizing: border-box;
  position: relative;
    border: 1px solid #302015;
	  padding-right: 2%;
}
.top_ul{
  font-family:Raleway-SemiBold;
  color:#fff;
  font-size:30px;
  list-style-image: url(../images/mark.png);
  list-style-position:outside;
  margin-left: 45px;
    margin-bottom: 40px;
}
.top_li{
  padding:5px;
}
.che_title{
color:#fff;
font-size:18px;
font-family:Raleway-SemiBold;
margin:24px 0 12px;
}
.che_text{
color:#fff;
font-size:14px;
font-family:Raleway-SemiBold;
margin:12px 0;
}
.che_inform  a{
color:#FFCB05;
font-size:18px;
font-family:Raleway-SemiBold;
  bottom: 20px;
    position: absolute;
}
#toTop {
z-index:100;
width:100px;
padding:5px;
position:fixed;
bottom:10px; /* отступ кнопки от нижнего края страницы*/
right:10px;
cursor:pointer;
display:none;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.left_t_blok{
width:100%;
position:relative;
}
.right_t_blok{
width:50%;
}

.left_t_title{
font-size:22px;
font-family:Raleway-SemiBold;
border-bottom:2px solid #FFDE60;
  max-width: 360px;
  padding: 50px 0 15px;
  margin-bottom:35px;
  color:#000;
}
.left_t_text{
  color: #aaa;
  font-size: 16px;
  max-width: 420px;
  font-family: HelveticaNeue;
line-height: 30px;
}
.left_t_text2{
  color: #aaa;
  font-size: 16px;
  max-width: 800px;
  font-family: HelveticaNeue;
line-height: 30px;
margin: 0 auto;
margin-bottom:15%;
  padding: 0 14px;

}

.left_t_home{
width: 45%;
  height: 490px;
  background-image: url(../images/home.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.img_ce{
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ce1{
  background-image: url(../images/ce_img1.png);
   right: 20px;
  top: 278px;
}
.ce2{
  background-image: url(../images/ce_img2.png);
      right: 297px;
  top: 274px;
}
.ce3{
  background-image: url(../images/ce_img6.png);
    right: 160px;
  top: 35px;
}
.ce4{
  background-image: url(../images/ce_img22.png);
    right: 428px;
  top: 30px;
}
.ce1:hover{
  background-image: url(../images/ce_img7.png);
   right: 20px;
  top: 278px;
}
.ce2:hover{
  background-image: url(../images/ce_img5.png);
  right: 297px;
  top: 274px;
}
.ce3:hover{
  background-image: url(../images/ce_img3.png);
    right: 160px;
  top: 35px;
}
.ce4:hover{
  background-image: url(../images/ce_img4.png);
    right: 428px;
  top: 30px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

#wrapper div {
    display:none;
}
#wrapper.tab1 div.tab1 {
    display:block;
    width:100%;
}
#wrapper.tab2 div.tab2 {
    display:block;
    width:100%;
}
#wrapper.tab3 div.tab3 {
    display:block;
    width:100%;
}
#wrapper.tab4 div.tab4 {
    display:block;
    width:100%;
}
#wrapper.tab1 a.tab1 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab2 a.tab2 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab3 a.tab3 {
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper.tab4 a.tab4{
    color: black;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


.uslugi{
    font-family: Raleway-Bold;
  font-size: 22px;
  max-width: 310px;
  text-align: center;
  border-bottom: 3px solid #FFDE60;
  padding: 25px 0;
margin: 0 auto 35px;

}
.us_top_left{
width: 50%;
  float: left;
  padding-bottom: 100px;
  background-color: #F5F5F5;
}
.us_top_left2{
width: 50%;
  float: right;
  padding-bottom: 100px;
  background-color: #F5F5F5;

}
.us_top_right{
  background-image: url(../images/right_fon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  width: 50%;
  height: 391px;
}
.us_top_right2{
  background-image: url(../images/left_fon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 50%;
  height: 391px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.left_f_blok{
  float: left;
  width: 23%;
}
.right_f_blok{
float: right;
  width: 23%;
}
.center_f_blok{
  width: 41%;
  margin: 0 auto;
  clear:none;

}
.menu_bot{
font-family: Raleway-Bold;
  font-size: 18px;
  color: #FFCB05;
  margin-bottom: 40px;
}
.m_left{
  float: left;
  width: 30%;
}
.m_right{
  float: right;
  width: 58%;
  margin-right: -40px;;

}
.razdel{
  margin-bottom: 10px;
}

.razdel a{
  color: #fff;
  font-size:16px;
   font-family: HelveticaNeue;
}
.adrec{
  line-height: 19px;
    margin-bottom: 16px;
padding-left: 30px;
  background-image: url(../images/st.png);
  background-position: 10px 2px;
  background-repeat: no-repeat;
}
.nomer{
  line-height: 19px;
    margin-bottom: 16px;
padding-left: 30px;
  background-image: url(../images/tell.png);
  background-position: 7px 4px;
  background-repeat: no-repeat;
  
}
.mail{
line-height: 19px;
  margin-bottom: 16px;
padding-left: 30px;
  background-image: url(../images/mail.png);
  background-position: 6px 4px;
  background-repeat: no-repeat;
}
.botton{
width: 200px;
  height: 40px;
  border: 1px solid #DBDBC9;
  background-color: #F1C00A;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  border-radius: 4px;
  display: inline-block;
}

.product_btn{
    width: auto;
    padding: 0 10px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/


#wrapper1 span {
    visibility: hidden;
}
.tab11, .tab22, .tab33{
    cursor: pointer;
}
#wrapper1.tab11 span.tab11 {
    visibility: visible;
    width:100%;
}
#wrapper1.tab22 span.tab22 {
    visibility: visible;
    width:100%;
    position: relative;
    top: -430px;
}
.img_seti a{
margin-right:20px;
}
#wrapper1.tab33 span.tab33 {
    visibility: visible;
    width:100%;
    position: relative;
	top: -862px;
}
#wrapper1.tab11 a.tab11 {
    color: #F1C00A;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper1.tab22 a.tab22 {
      color: #F1C00A;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper1.tab33 a.tab33 {
     color: #F1C00A;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#wrapper1 a{
  color: #fff;
  padding: 0 30px 30px 34px;
  display: inline-block;
}
.product_a_img{
    display: inline-block;
    width: 100%;
    height: 207px;
    background-size: cover;
    background-position: center center;    
}
.specials{
    margin-top: -160px;
}
.product_a_name{
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
  width: 207px;
}
.product_a_price{
  color:#aaa;
  text-align: center;
  width: 207px;
}
.product_a_price div{
  color:#F1C00A;
  display:inline;
}
.item{
  margin: 0px 35px 30px;
}
.owl-prev{
  height: 50px;
  width: 50px;
  background-image: url(../images/s_left.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: -92px
}
.owl-next{
  height: 50px;
  width: 50px;
  background-image: url(../images/s_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -90px;
  
  -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  

}
#contact-form .help-block, #call-form .help-block{
    color: #a94442;
    font-size: 12px;
    margin-top: -25px;
    padding-bottom: 20px;
}
#contact-form .has-error input, #contact-form .has-error textarea, #call-form .has-error input{
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.senks{
    font-family: Raleway-Bold;
    text-align: center;    
}
.breadcrumb{
    left: 50%;
    margin-left: -580px;
    position: absolute;
    top: 220px;
}
.breadcrumb li{
    display: inline;
    list-style-type: none;
    margin: 0 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffcb05;
}
.breadcrumb li a{
    color: #000;
}
.breadcrumb > li + li:before {
    color: #000;
    content: "→ ";
    padding: 0 5px;
    font-size: 20px;
}
.owl-prev:hover{

  background-image: url(../images/s_right.png);
 -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg); 
    -webkit-transform: rotate(180deg); 
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
	  margin-top: -1px;

}
.owl-next:hover{

  background-image: url(../images/s_right.png);
-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  margin-top: 1px;

}
.owl-controls{
  position: absolute;
  top: 22%;
width: 100%;
}
.owl-nav{
  width: 100%;
  position: absolute;

}
/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzcontactzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/



.top_menu2{
  border-bottom: 5px solid #000;
}
.top_menu_ul2{
background-color: #fff;
  height: 55px;
  padding-left: 30px;
}
.top_menu_li2{
  display: inline-block;
  text-decoration: none;
  padding: 18px 13px 18px;
  height: 19px;
    float: right;
}
.top_menu_li2:hover{
  border-bottom: 5px solid #FFCB05;
}
.top_menu_li:hover{
  border-bottom: 5px solid #FFCB05;
}
.top_menu_li2 a {
  color: #000;
  font-family: Raleway-Bold;
  font-size: 16px;
}
.logo2 {
  max-width: 224px;
  width: 100%;
  float: left;
  margin-top: 6px;
}
.logo2 span{
color:#aaa;
  padding-left: 15px;
}
.logo2 img{
float: left;
  width: 23%;
}
.logo2 .s_1{
font-size: 12px;
  padding-top: 8px;
  color:#000;
}
.logo2 .s_2{
font-size: 8px;
}
.name_page{
width: 100%;
  height: 130px;
  text-align: center;
  font-size: 38px;
  background-color: #FFCB05;
  line-height: 130px;
  font-family: Raleway-Bold;
margin-bottom:90px;
}
.cont_left_line{
border-bottom:1px solid #aaa;
float:left;
width:30%;
  margin-top: 13px;
}
.cont_center_title{
font-size:22px;
text-align:center;
 font-family: Raleway-Bold;
 width:38%;
 margin: 0 auto;
}
.cont_right_line{
border-bottom:1px solid #aaa;
width:30%;
float:right;
  margin-top: 13px;
}
.cont_text{
  font-family: HelveticaNeue;
  color: #aaa;
  font-size: 16px;
  margin-top: 25px;
}
.cont_info{
margin-bottom: 40px;
}
.cont_form_left{
width:30%;
float:left;
}
.cont_form_right{
width:60%;
float:right;
}
.cont_form_left div{
  margin-bottom: 0px;
height: 85px;
  padding-left: 115px;
  font-family:HelveticaNeue;
  color:#aaa;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 42px;
}
.cont_form_adres{
background-image: url(../images/cont1.png);
  padding-top: 25px;
box-sizing: border-box;
}
.cont_form_tel{
  background-image: url(../images/cont2.png);
  padding-top: 22px;
  box-sizing: border-box;
}
.cont_form_mail{
    background-image: url(../images/cont3.png);
  padding-top: 34px;
  box-sizing: border-box;
}
.form{
width:100%;
}
.form textarea{
height:150px;
max-height:600px;
max-width:94%;
}
.input{
  width: 94%;
  padding: 10px;
  background-color: #F5F5F5;
  border: 1px solid #E9E9E9;
  margin-bottom: 30px;
    color: #9E9E9E;
}
.submit{
  width: 200px;
  height: 40px;
  border: 1px solid #DBDBC9;
  background-color: #F1C00A;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  border-radius: 4px;
  font-size: 22px;
}
.karta{
margin-bottom: -54px;

  padding-top: 100px;
  border-top: 1px solid #fff;
  clear: both;
}

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzznewszzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/
.news_set{
border:1px solid #E9E9E9;
margin-bottom:40px;
}
.news_img{
float:right;
max-width: 775px;
  min-height: 81px;
}
.news_img img{
width: 100%;
}
.news_date{
  padding: 15px 0 10px 30px;
   font-family:Raleway-Light;
}
.news_title{
  font-family: Raleway-Bold;
  font-size: 22px;
  padding: 10px 0px 15px 14px;
}
.news_text{
  font-family: HelveticaNeue;
color:#aaa;
  line-height: 27px;
    padding: 0px 0px 20px 14px;
	max-width: 775px;
  min-height: 81px;
}
.page_main{
  padding-bottom: 60px;
}
.page_nomber a{
color:#000;
}
.page_nomber{
float:left;
  margin: 0 5px;
  font-family: Raleway-SemiBold;
}
.activ_page{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/activ.png);
  color: #fff;
  width: 20px;
  text-align: center;
  background-position: center;
  height: 22px
}
.activ_page a{
  color: #fff;
}
/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzprisezzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

.main_price{
  width: 32%;
  height: 420px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/romb.png);
  background-position: center;
  float: left;
  margin: 0 .666666666%;
  margin-top: -80px;
}
.price_comp{
  text-align: center;
  padding-top: 90px;
}
.price_name{
  text-align: center;
  font-family: Raleway-ExtraBold;
  font-size: 22px;
    margin-top: 40px;
}
.price_sk{
height: 100px;
  text-align: center;
  margin-top: 71px;
  font-family: HelveticaNeue;
  color: #aaa;
  background-repeat: no-repeat;
  background-image: url(../images/scachat.png);
  background-position: center 37px;
  width: 150px;
  margin: 20px auto 0;
}
.mar_top{
  margin-top: -85px;
}
.mar_left{
  margin-left: 17.2%;
}
.main_glob{
margin-bottom: 90px;
margin-top: 160px;
}
.clear{
  clear: both;
}

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzdostavkazzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

.main_dow{
margin-bottom:90px;
}
.us_top_left3 {
  width: 50%;
  float: left;
  padding-bottom: 70px;
}
.us_top_left4 {
  width: 50%;
  float: right;
  padding-bottom: 70px;
}
.us_top_right3 {
  background-image: url(../images/haus1.png);
  background-position: center;
  background-size:  contain;
  background-repeat: no-repeat;
  float: right;
  width: 50%;
  height: 391px;
}
.us_top_right4 {
  background-image: url(../images/hous2.png);
  background-position: center;
  background-size:  contain;
  background-repeat: no-repeat;
  float: left;
  width: 50%;
  height: 391px;
}

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzo naszzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

.left_nas{
  float: left;
    width: 46%;
}
.right_nas{
  float: right;
    width: 46%;
}
.left_t_title2 {
  font-size: 22px;
  font-family: Raleway-SemiBold;
  border-bottom: 2px solid #FFDE60;
  max-width: 360px;
padding: 0px 0 15px;
  margin-bottom: 35px;
  color: #000;
}
.news_text2 {
  font-family: HelveticaNeue;
  color: #aaa;
  line-height: 27px;
  padding: 0px 0px 20px 0px;
  max-width: 775px;
  min-height: 81px;
}
.top_ul2 {
  font-family: HelveticaNeue;
  color: #aaa;
  list-style-image: url(../images/mark.png);
  list-style-position: outside;
  margin-left: 45px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
}
.top_li2 {
padding: 0 5px 10px 5px;
}
.gr_img{
  margin-top: 30px;
  margin-bottom: 90px;
}

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzprodzzzzzzzzzzzzzzzzz*/

/*zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz*/

.bread_crumbs{
  font-family: Raleway-SemiBold;
    margin-top: -50px;
  margin-bottom: 50px;
}
.bread_activ{
color:#FFCB05;
}

.left_prod{
  float: left;
  width: 24%;
  border: 1px solid #aaa;
  min-height: 350px;
}


 
.right_prod{
float: right;
  width: 72%;
}
.left_bar{
 font-family: Raleway-Bold;
  font-size: 18px;
  
  margin: 19px 0 30px 0;
}
.left_bar a{
display: block;
 padding-left: 40px;
color:#000;
}
.left_bar a:hover{
  background-image: url(../images/mark.png);
  background-repeat: no-repeat;
  color: #FFCB05;
  background-position: 16px center;
  display: block;

}
.top_menu_ul233{

color:#fff;
}

.text_prod{
font-family: HelveticaNeue;
  color: #aaa;
  line-height: 27px;
  padding: 0px 0px 20px 0px;
  min-height: 81px;
}
.prod_images{
    width: 52%;
    float: left;
    margin-right: 28px;
    -webkit-padding-after: 80px;
}
.img_prod{
  width: 100%;
  display: block;
  height: 200px;
  background-size: cover;
  background-position: center center;
  margin-bottom: -160px;
  position: relative;
  top: -160px;
}

.news_title22 {
  font-family:Raleway-ExtraBold;
  font-size: 22px;
  padding: 0px 0px 15px 0px;
}

.cena_prod{
color:#FFCB05;
font-family: HelveticaNeue;
font-size: 25px;
}

.cena_prod2{
font-family: HelveticaNeue;
color:#aaa;
}
.cena{
  padding-bottom: 18px;
  margin-bottom: 17px;
}
.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 7.4px;
    width: 70px;
    float: left;
}
.thumbnail:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.1s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
    z-index: 10;
}
.dok{
  color: #aaa;
  padding-left: 30px;
  font-size: 22px;
  margin-top: 25px;
  font-family: Raleway-Bold;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/scachat.png);
  background-position: 0 0;
  margin-bottom: 20px;
}
.name_page_bl{

  width: 100%;
  height: 130px;
  text-align: center;
  font-size: 38px;
  background-color: #FFCB05;
  line-height: 130px;
  font-family: Raleway-Bold;
  margin-bottom: 90px;
  
  
    margin-top: 90px;
}
.item2{
  width: 18%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}

.item2 img{
  width: 100%;

}
.product_a_name2 {
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  border-bottom: 1px solid #aaa;
  color:#000;
}
.mar{
 margin-bottom: 50px;
}

.p_tov{
 margin-bottom: 90px;
 
}


.menuu{
display:none;


}
.top_menu{
  clear: both;
}

.lin{
border-bottom:1px solid #aaa;
margin-bottom:60px;
width:100%;
}

.item3 {
  width: 23%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
margin-bottom: 10px;
}


.item3 img{
  width: 100%;
}
footer{
  margin-top: 50px;
}
.pad{
  padding: 0!important;
   width: 100%;
  
}

#col .top_menu_li2 a{
color:#fff!important;
}

.name_page_bl{
width: 100%;
  height: 130px;
  text-align: center;
  font-size: 28px;
  background-color: #000;
  line-height: 100px;
  font-family: Raleway-Bold;
  margin-bottom: 90px;
  margin-top: 90px;
  color:#fff;
  clear: both;
}

.name_page_bl span{
  display: block;
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #FFCB05;
}


.sele{


}
.field{
width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  float:left;
}
.slider4 .slide {
  height: 335px;
  background-size: cover;
  background-position: center center;
}

.bx-wrapper img {
  width: 100%;
}

.bx-wrapper{
  width: 100%!important;
  max-width: 1920px!important;
  overflow: hidden;
}

.name_page_bl2 {
  width: 100%;
  height: 130px;
  text-align: center;
  font-size: 28px;
  background-color: #000;
  line-height: 100px;
  font-family: Raleway-Bold;
  margin-top: 90px;
  color: #fff;
  clear: both;
}

.name_page_bl2 span{
  display: block;
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #FFCB05;
}

.top_prod {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:none;
}

.slide:hover .top_prod{
  display:block;
  background-color: rgba(174, 138, 0, 0.81);
}





.bx-wrapper .bx-controls-direction a{
top: 45%!important;
height: 60px!important;
width: 60px!important;
  background-color: rgba(255, 255, 255, 0)!important;
}

.bx-prev{
background-image: url(../images/s_left.png)!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
    background-position: center!important;
}


.bx-next{
background-image: url(../images/s_left.png)!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
    -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
    background-position: center!important;
  
  
}


.bx-prev:hover{
background-image: url(../images/s_right.png)!important;
 background-size: contain!important;
 background-repeat: no-repeat!important;
  background-position: center!important;
    -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 1px;
}


.bx-next:hover{
background-image: url(../images/s_right.png)!important;
  background-size: contain!important;
  background-repeat: no-repeat!important;
    -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
    margin-top: -1px;
}

.s_ti{
display: block;
  padding: 40px 10px 10px 30px;
  color: #fff;
  font-size: 22px;
  font-family: 'Raleway-ExtraBold';
}

.s_ti2{
  display: block;
  padding: 5px 10px 10px 30px;
  color: #fff;
  font-size: 18px;
  font-family: 'HelveticaNeue';
}
.s_ti3{
display: block;
  padding: 5px 10px 10px 30px;
  color: #fff;
  font-size: 18px;
  font-family: 'HelveticaNeue';
  position: absolute;
  bottom: 20px;
  right: 40px;
  background-image: url(../images/si.png)!important;
  background-position: 1px center;
  background-repeat: no-repeat!important;
}
.bx-wrapper {
  margin: 0 auto 0px!important;
}
.s_ti3 a{
  color: #fff;
    font-family: 'HelveticaNeue';
  
}

.od{
background-color:#222222;
  padding: 20px 0;
  margin-bottom: -54px;
}

.od_left{
float:left;
width:25%;
color:#fff;
  border-right: 1px solid #fff;
}
.od_right{
  float: right;
  width: 74%;
  color: #fff;
  padding-left: 100px;
  box-sizing: border-box;
  background-image: url(../images/men_o.png);
  background-position: 6px center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.od_left_od{
  font-size: 18px;
  margin-bottom: 20px;
      font-family: 'Raleway-Bold';
}

.od_left_te{
font-family: 'HelveticaNeue';
}


.od_left_od2{
  font-size: 18px;
  margin-bottom: 20px;
      font-family: 'Raleway-Bold';
}

.od_left_te2{
font-family: 'HelveticaNeue';
}
.pagination li{
    display: inline-block;
    list-style-type: none;
    margin: 0 5px;
    font-weight: bold;
}
.rewiews_pager .pagination li a{
    color: #fff;
}
.news_pager .pagination li a{
    color: #000;
}
.pagination li.active{
    display: inline-block;
    width: 20px;
    height: 22px;
    background-image: url("../images/activ.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.pagination li.active a{
    color: #fff;
    margin-left: 5px;
}
.gjsm{
color: #000;
  text-align: center;
  margin-top: 20px;
  font-family: HelveticaNeue;
}

.big_img{
width:100%;
  margin-bottom: 10px;
}

.l_img_left{
float:left;
width:48%;

}

.l_img_right{
float:right;
width:48%;

}

.big_img img, .l_img_left img{
width:100%;
}

.l_img_right img{

width:100%;

}
.name_page33 {
  width: 900px;
  height: 130px;
  text-align: center;
  font-size: 38px;
  background-color: #FFCB05;
  line-height: 130px;
  font-family: Raleway-Bold;
  margin-bottom: 40px;
}

.left_nas2 {
  float: left;
  width: 46%;
  margin-left: 2%;
}




.tex_l{
  text-align: left;
}
.btn:hover {
    background: blue;
    color: #ff0;
}

/* Popup */

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    
    opacity: 0;
    -o-opacity: 0; /* Opera */
    -moz-opacity: 0; /* Firefox */
    -webkit-opacity: 0; /* Safari and Chrome */
    
    position: fixed; 
    cursor: default; 
    
    /* the meaning and effect */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlay:target + #popupForm{
     top: 7%;
    visibility: visible;
    opacity: 1;
    -o-opacity: 1; /* Opera */
    -moz-opacity: 1; /* Firefox */
    -webkit-opacity: 1; /* Safari and Chrome */
}

#popupForm{
  max-width: 900px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden !important;
  top: 0;
  left: 33%;
  margin-left: -211px;
  background: #f2f2f2;
  border: 1px #7f7f7f solid;
  text-align: center;
  font-size: 15px;
  color: #000;
  display: block;
  visibility: hidden;
  z-index: 9999;
  position: fixed;
  opacity: 0;
  -o-opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  box-shadow: 0 0 15px #707070;
  -o-box-shadow: 0 0 15px #707070;
  -moz-box-shadow: 0 0 15px #707070;
  -webkit-box-shadow: 0 0 15px #707070;
  transition: all ease .5s;
  -o-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -webkit-transition: all ease .5s;
}


.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #7f7f7f!important;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    font-size: 20px;
    border: 1px #7f7f7f solid;

    border-radius: 50%;
    -o-border-radius: 50%; /* Opera */
    -moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari and Chrome */

/* the meaning and effect */
    transition: all ease .8s;
    -o-transition: all ease .8s; /* Opera */
    -moz-transition: all ease .8s; /* Firefox */
    -webkit-transition: all ease .8s; /* Safari and Chrome */
}

.close:hover {
    color: #f00!important;
    border: 1px #f00 solid;

/* the meaning and effect */
    transform: rotate(360deg); 
    -o-transform: rotate(360deg); /* Opera */
    -moz-transform: rotate(360deg); /* Firefox */
    -webkit-transform: rotate(360deg); /* Safari and Chrome */
}

/* adaptiv */

@media screen and (max-width: 1300px) {
.owl-prev{

  left: 0px;
}
.owl-next{
 
  right: 0px;

}
}

@media screen and (max-width: 1160px) {
.owl-prev{

  left: 0px;
}
.owl-next{
 
  right: 0px;

}
.overlay {
display:none;

}
#popupForm{
display:none;
}

.top_menu_li2{
  padding: 18px 9px 18px;
}
.img_ce {
  display: block;
  width: 233px;
  height: 233px;
}
.ce1 {
  right: 0px;
top: 233px;
}
.ce1:hover {
  right: 0px;
top: 233px;
}
.ce3 {
  right: 109px;

}
.ce3:hover  {
   right: 109px;
}

.ce4 {
  right: 325px

}
.ce4:hover  {
  right: 325px

}
.ce2:hover {
    right: 222px;
  top: 231px;
}
.ce2{
    right: 222px;
  top: 231px;
}
}


@media screen and (max-width: 992px) {
.top_menu_li2 a {
  font-size: 12px;
}
.top_menu_li2 {
  padding: 18px 6px 18px;
}
.logo2 {
  max-width: 178px;
}
.main_center {
  padding: 0 5px;
  box-sizing: border-box;
}
.botton {
  width: 150px;
}
.left_bar a {
  padding-left: 20px;
}
.left_prod {
  width: 28%;
}
.right_prod {
  width: 70%;
}
.left_bar a:hover {
  background-position: 5px center;
}
.price_comp img{
  width: 33%;
}
.price_comp{
  padding-top: 128px;
}
.price_name {
  margin-top: 20px;
}
.price_sk {
  margin:25px auto 0
}
.che_title {
  height: 43px;
  overflow: hidden;
  margin: 12px 0 12px;
}
.left_t_blok{
display:none;
}
.top_menu_ul{
  padding-left: 0px;
}
.top_menu_li {
  padding: 18px 6px 18px;

}
.slider4 .slide {
  width: 2.777%!important;
}
.s_ti {
  display: block;
  padding: 25px 10px 10px 15px;
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway-ExtraBold';
}

.s_ti2 {
  display: block;
  padding: 25px 10px 10px 15px;
  color: #fff;
  font-size: 14px;
  font-family: 'Raleway-ExtraBold';
}
}


@media screen and (max-width: 768px) {
.cvcv {

  height: 520px;
}
.od_left {
  float: left;
  width: 100%;
  color: #fff;
  border-right: 0px solid #fff;text-align: center;
  margin-bottom: 20px;
}
.od_right {
 width: 100%;
   
}
.slider4 .slide {
  width: 8.3%!important;
}

.left_prod {
  width: 100%;
    min-height: 100%;
}
.right_prod {
  width: 100%;
    margin-top: 30px;
}
.dok {
  padding-left: 60px;
}
.name_page_bl {
  margin-bottom: 40px;
  margin-top: 40px;
}
.item2 {
  width: 48%;
    margin-bottom: 30px;
}
.top_menu_li2{
  display:block;
  float:none; 
}
.top_menu_ul2 {
  height: 100%;
}
.logo2 {
  max-width: 200px;
  margin: 10px auto;
  float: none;
}
.menuu{
display:block;
}	
.el1{
  width: 100%;
  height: 100%;
  padding-left: 0px; 
}
.el1:before {
   content: "МЕНЮ";
  padding-left: 4px;
  text-align: center;
  width: 100%;
  display: block; 
}
.el2{
width: 100%;
  height: 35px;
   padding-left: 0px; 
  overflow: hidden;	
  }
.el2:before {
    content: "МЕНЮ";
  padding-left: 4px;
  text-align: center;
  width: 100%;
  display: block;
}	
.el11{
  width: 100%;
  height: 100%;
  padding-left: 0px; 
}
.el22{
width: 100%;
  height: 35px;
   padding-left: 0px; 
  overflow: hidden;	
  }
.m_mob{
width: 100%;
  height: 35px;
  padding-left: 0px;
  overflow: hidden;
}
.left_f_blok {
  float: none;
  width: 100%;
}
.center_f_blok {
  width: 100%;
  margin: 0 auto;
  clear: none;
}
.right_f_blok {
  float: none;
  width: 100%;
}
.m_right {
  float: none;
  width: 100%;
  margin-right: 0px;
}
.menu_bot {
  text-align: center;
}
.m_left {
  float: none;
  width: 100%;
}
.left_t_text {
  max-width: 800px;
}
.cont_left_line {
  width: 10%;
}
.cont_right_line { 
  width: 10%;
}
.cont_center_title {
 width: 80%;
}
.cont_form_left {
  width: 100%;
  float: left;
}
.cont_form_right {
  width: 100%;
  float: right;
}
.karta {
  padding-top: 40px;
}
.name_page {
  margin-bottom: 40px;
  font-size: 29px;
}
.news_img {
  float: none;
}
.us_top_left3 {
  width: 100%;
}
.us_top_right3 {
 width: 100%;
 height: 270px;
 padding-bottom: 30px;
}
.us_top_left3 {
 width: 100%;
 height: 270px;
 padding-bottom: 30px;
}
.us_top_right4 {
 width: 100%;
}
.left_t_text2 {
 width: 100%;
 box-sizing: border-box;
}
.us_top_left4{
 width: 100%;
height: 270px;
}
.main_dow {
margin-bottom: 0px; 
}
.left_nas {
  float: left;
  width: 100%;
}
.right_nas {
  float: right;
  width: 100%;
}
.gr_img img{
 width: 100%;
}
.price_comp img{
  width: 33%;
}
.price_name {
  margin-top: 20px;
}
.price_sk {
  margin:25px auto 0;
    background-size: 31px;
}
.main_price {
float:none;
margin: 0 auto;
  min-width: 300px;
  min-width: 280px;
    height: 340px;
}
.price_comp {
  padding-top: 90px;
}
.header {
height: 100%;
}

.top_menu_ul{
display:none;

}

.top_menu_ul233{
display:block;

}
.h1 {
  font-size: 28px;

}
.top_ul {

  font-size: 20px;
  list-style-image: url(../images/mark.png);
  list-style-position: outside;
  margin-left: 19px;
  margin-bottom: 40px;
}
.cherepica1, .cherepica2, .cherepica3{
  width: 100%;
  padding-left: 40%;
  margin-bottom: 10px;

}

.cherepica2 {
 float: none; 
}

.cherepica1 {
  float: none;

}
.header_sect {
  height: 100%;
}

.us_top_left {
  width: 100%;
  }
.us_top_left2 {
  width:100%;
  
  }
.us_top_right {
  width:100%;
}

.us_top_right2 {
  width:100%;
}


.el133{
color:#fff;
  width: 100%;
  height: 100%;
  padding-left: 0px;
   padding-top: 10px;
  clear: both;
}

.el233{
color: #fff;
  width: 100%;
  height: 35px;
  padding-left: 0px;
  overflow: hidden;
  padding-top: 10px;
  clear: both;
}
.el133:before {
   content: "МЕНЮ";
  padding-left: 4px;
  text-align: center;
  width: 100%;
  display: block; 
}
.el233:before {
    content: "МЕНЮ";
  padding-left: 4px;
  text-align: center;
  width: 100%;
  display: block;
}
.item3 {
  width: 48%;
  }
.bread_crumbs {
  margin-top: -16px;
}
.top_menu_ul {
  background-color: rgba(255, 255, 255, 0);
  }

.top_menu_li{
  display: block;
  float: none;
}

.top_menu_li{
  display: block;
  float: none;
}
#col .top_menu_li a{
color:#fff;
}

.field {
  width:100%;
}
}
@media screen and (min-width: 768px) {
.el133{
background-color: #fff;
  height: 55px;
  border-bottom: 5px solid #000;
  clear: both;
  padding-left: 30px;
}
.el233{
background-color: #fff;
  height: 55px;
  border-bottom: 5px solid #000;
  clear: both;
  padding-left: 30px;
}
.el2{
background-color: #fff;
  height: 55px;
  padding-left: 30px;
}
.el1{
background-color: #fff;
  height: 55px;
  padding-left: 30px;
}
}
@media screen and (min-width: 1100px){

.slide{
width: 3.1%!important;

}


}

@media screen and (max-width: 1100px){
.breadcrumb{
display:none;
}
.slider4  .slide{
width: 6.1555%!important;

}


}

@media screen and (max-width: 768px){ 

.slider4  .slide{
width: 12.3%!important;

}
.item {
  margin: 0px 4px 30px;
}

.product_a_name {
width:100%;
}

}


.tab11 .product_a_img2{
  background-image: url(/images/Action.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-repeat: no-repeat;
  background-size: 115px;
}

.tab22 .product_a_img2{
  background-image: url(/images/Top.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-repeat: no-repeat;
  background-size: 115px;
}

.tab33 .product_a_img2{
  background-image: url(/images/New.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-repeat: no-repeat;
  background-size: 115px;
}


.tab11, .tab22, .tab33{

cursor: pointer;
}

.img_ce{
cursor: pointer;
}

@font-face{
font-family:'HelveticaNeue';
src:url('../fonts/HelveticaNeue.ttf')

}


body{
font-family:'HelveticaNeue'
}
.product_a{
position:relative;
min-height:400px;
}
.tab11 .prode {
background-image: url(../images/Action.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
background-position: -5px 0px;
}
.in_product  {
  width: 131px;
  height: 160px;
  position: relative;
  z-index: 10;
  left: -3px;
}
.action {
background: url(../images/Action.png);
}
.popular {
background: url(../images/Top.png);
}
.new {
background: url(../images/cv.png);
}
.tab22 .prode {
background-image: url(../images/Top.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
background-position: -5px 0px;
}
.tab33 .prode {
background-image: url(../images/cv.png);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
background-position: -5px 0px;
}

.owl-prev{background-image: url("../images/Left.png");}
.owl-next{background-image: url("../images/Left.png");}